/*** Project Meta ***/

/* line - 13 general */

/* line - 29 header */

/* line - 82 main content */

/* line - 559 footer */

/** GENERAL **/

html,
body {
  background-color: white;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 75%;
}

.font {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/** header **/

.header {
  max-width: 78rem;
  width: 100%;
  margin: auto;
  font-size: 1rem;
  margin-top: 6rem;
}

.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.link {
  width: 11.1111%;
  background-color: lightslategray;
}

.menu-link {
  text-decoration: none;
  width: 100%;
  color: white;
}

/** main content **/

.all {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.verse {
  text-align: center;
}

.share {
  text-align: center;
}

.story {
  text-align: center;
}

.l {}

/* color image position size repeat origin clip attachment */

.all .one {
  grid-column-start: 1;
  grid-column-end: 6;
  height: 44.833rem;
  position: relative;
  background: url(../images/apple.jpg) 50% 100% no-repeat;
}

.all .two {
  width: 30rem;
  height: 16.4835rem;
  background: url(../images/promo_iphone5s.jpg) no-repeat;
}

.all .three {
  width: 30rem;
  height: 16.4835rem;
  background: url(../images/promo_iphone5c.jpg) no-repeat;
}

.all .four {
  width: 30rem;
  height: 16.4835rem;
  background: url(../images/promo_30_years.jpg) no-repeat;
}

.all .five {
  width: 30rem;
  height: 16.4835rem;
  background: url(../images/promo_supplier_responsibility.jpg) no-repeat;
}

/** footer **/

.footer {
  font-size: 0.9rem;
}

.footer-links {
  max-width: 81.66667rem;
  margin: 0 auto;
}

.policy {
  width: 49%;
  padding: 1.166667rem 0 2.5rem;
  float: left;
  
}

.privacy {
  margin: 0.8333rem 0 0;
  display: flex;
}

.list-algn {
  list-style-type: none;
}

.list-algn li {
  display: inline-block;
  padding: 0 0.4166rem;
}

.list-algn li a {
  color: rgb(43,156,212);
  text-decoration: none;
}

.options {
  width: 51%;
  float: right;
  width: 49%;
  padding: 1.166667rem 0 2.5rem;
}
