/*** Project Meta ***/

/* line - 13 general */

/* line - 29 header */

/* line - 82 main content */

/* line - 559 footer */

/** GENERAL **/

html,
body {
  background-color: white;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 75%;
}

.font {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/** header **/

.header {
  max-width: 78rem;
  width: 100%;
  margin: auto;
  font-size: 1rem;
}

.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.link {
  width: 11.1111%;
  /* background-image: url(/web/20140301180411im_/http://images.apple.com/global/nav/images/globalnav_text.svg); */
  background-color: lightslategray;
}

.menu-link {
  text-decoration: none;
  width: 100%;
  color: white;
}

/** main content **/

.all {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 120rem;
  margin: 0 auto;
}

.all-img {
  width: 100%;
}

/* .test {
  max-width: 120rem;
  margin: 0 auto;
  max-height: auto;
  /* background: url("../assets/images/apple_back.png"); */
  /* background-image: url("./assets/images/apple_back.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: 100% auto; */
  /* width: 400px; */
  /* height: 400px; */
  /* border: 2px dashed #333;
  background: none url("../assets/images/apple_back.png") no-repeat scroll center;
  background-size: 100% auto;
} */ 

/* color image repeat attachment position */

.all .one {
  grid-column-start: 1;
  grid-column-end: 6;
  background: url(../images/apple_back.png);
  width: 100%;
  height: 44.833rem;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.all .two {
  /* background-image: url("./assets/images/promo_iphone5s.jpg"); */
}

.all .three {
  /* background-image: url("./assets/images/promo_30_years.jpg"); */
}

.all .four {
  /* background-image: url("./assets/images/promo_supplier_responsibility.jpg"); */
}

.all .five {
  /* background-image: url("./assets/images/promo_supplier_responsibility.jpg"); */
}

/** footer **/

.footer {
  font-size: 0.9rem;
}

.footer-links {
  max-width: 81.66667rem;
  margin: 0 auto;
}

.policy {
  width: 49%;
  padding: 1.166667rem 0 2.5rem;
  float: left;
  
}

.privacy {
  margin: 0.8333rem 0 0;
  display: flex;
}

.list-algn {
  list-style-type: none;
}

.list-algn li {
  display: inline-block;
  padding: 0 0.4166rem;
}

.list-algn li a {
  color: rgb(43,156,212);
  text-decoration: none;
}

.options {
  width: 51%;
  float: right;
  width: 49%;
  padding: 1.166667rem 0 2.5rem;
}
